<div class="haikei2">
  <div class="container py-5">
    <div class="blog-box py-2 bg-white">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="midasi"><i class="fas fa-user-crown"></i>Month Ranking</h1>
          </div>
        </div>
        <div class="rank-time-box py-2 bg-white">
          <div class="row d-flex justify-content-center">
            <h4 class="my-3">Select Time</h4>
          </div>
          <div class="row mb-3 d-flex justify-content-around">
              <%= link_to daily_rank_path, class: "left btn btn-brackets" do %>
                <h6>Today</h6>
              <% end %>
              <%= link_to weekly_rank_path, class: "center btn btn-brackets" do %>
                <h6>This week</h6>
              <% end %>
              <%= link_to monthly_rank_path, class: "right btn btn-brackets" do %>
                <h6>This month</h6>
              <% end %>
          </div>
        </div>
        <% @months.each_with_index do |blog, i| %>
        <div class="rank-box">
          <div class="row">
            <div class="col-md-5">
              <ul class="list-unstyled">
                <li class="user-feed">
                  <%= link_to user_path(blog.user) do %>
                    <%= attachment_image_tag blog, :image, class: "rank-img" %>
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="col-md-5">
              <ul class="list-unstyled">
                <li>
                  <%= link_to user_path(blog.user) do %>
                    <h2><%= blog.user.name %></h2>
                  <% end %>
                </li>
                <li class="fas fa-crown non-margin">ランク：<b><%= i+1 %>位</b></li>
                <li>月間いいね：<b><%= blog.favorites.where(created_at: Time.now.all_month).count %></b></li>
              </ul>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>