<div class="haikei">
<div class="container memo blog  border-left border-right border-dark">
  <%= render 'users/info', user: @blog.user %>
  <div class="row py-5 border-bottom border-dark">
    <div class="col offset-1">
      <ul class="list-unstyled">
        <li><%= attachment_image_tag @blog, :image, width: '90%', height: '90%' %></li>
        <li><h2><%= @blog.title %></h2></li>
        <li><h4><%= @blog.description %></h4></li>
        <li><h4><%= @blog.created_at.strftime('%Y/%m/%d') %></h4></li>
        <li><h4><%= @blog.country_name %></h4></li>
      </ul>
      <% if @blog.user == current_user %>
      <%= link_to "更新", edit_blog_path(@blog) %>
      <%= link_to "削除", blog_path(@blog), method: :delete %>
      <% end %>
      <%= render 'favorites/favorite', blog: @blog %>
    </div>
  </div>
  <div id="blog_comments_area">
    <div class="row offset-1 d-flex align-items-start flex-column">
        <%= render partial: 'blog_comments/index', locals: { blog: @blog } %>
        <%= render partial: 'blog_comments/form', locals: { blog: @blog, blog_comment: @blog_comment } %>
    </div>
  </div>
</div>
</div>