<div class="openbtn1"><span></span><span></span><span></span></div>
<nav id="g-nav">
  <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
    <ul>
      <li class="nav-text"><h3><%= link_to "TOP", root_path %></h3></li>
      <li class="nav-text"><h3><%= link_to "LOG IN", new_user_session_path %></h3></li>
      <li class="nav-text"><h3><%= link_to "SIGN UP", new_user_registration_path %></h3></li>
    </ul>
  </div>
</nav>

<div class="haikei box-form">
<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-sign py-3 bg-white">
        <div class="my-3">
          <%= image_tag('Logotitle2.png', class: "form-logo") %>
        </div>
        <h5 class="my-3 form-title">新たな世界へ飛び出そう！</h5>

        <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field my-4">
            <%= f.text_field :name, autofocus: true, placeholder: "名前(ニックネーム)" %>
          </div>

          <div class="field my-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
          </div>

          <div class="field my-4">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(６桁以上)" %>
          </div>

          <div class="field my-4">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認用)" %>
          </div>

          <div class="actions pb-3">
            <%= f.submit "Sign up", class: "button-p" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-sign py-3 bg-white">
        <h5>登録している場合は</h5>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
</div>