<div class="container ">
  <div class="row my-2 offset-1">
    <% if user == current_user %>
      <h2 class="midasi">My Page</h2>
    <% else %>
      <h2 class="midasi">User Page</h2>
    <% end %>
  </div>
  <div class="row">
    <div class="col offset-1">
      <%= attachment_image_tag(user, :profile_image, fallback: "no_image.jpg", :size => '150x150', class: "rounded-circle" ) %>
    <% if user.id == current_user.id %>
      <p class="py-3"><%= link_to "プロフィール編集", edit_user_path(user), class: "button-n" %></p>
    <% else %>
      <div class=" py-3">
      <% if current_user.following?(user) %>
        <%= link_to "Unfollow", user_relationships_path(user.id), method: :delete, class: "button-d" %>
      <% else %>
        <%= link_to "Follow", user_relationships_path(user.id), method: :post, class: "button-p" %>
      <% end %>
      </div>
    <% end %>
    </div>
    <div class="col-sm-7">
      <div class="row mb-3">
        <div class="col-sm-5 mt-3">
          <h2><%= user.name %></h2>
        </div>
        <div class="col-sm-3 mt-1">
          <%= link_to user_followings_path(user) do %>
            <h4>follow<%= user.followings.count %></h4>
          <% end %>
          <%= link_to user_followers_path(user) do %>
            <h4>follower<%= user.followers.count %></h4>
          <% end %>
        </div>
      </div>
      <div class="row mr-5 d-flex flex-column">
        <h5 class="offset-1">[introduction]</h5>
        <p><%= user.introduction %></p>
      </div>
    </div>
  </div>
</div>