<div class="haikei2">
  <div class="container">
    <div class="row">
      <div class="form-user py-3 bg-white">
        <div class="container">
          <div class="row my-3 offset-1">
            <h4 class="midasi">Edit User</h4>
          </div>
      　   <%= form_with model: @user, local: true do |f| %>
            <h4 class="my-3">Plofile Image</h4>
            <%= f.attachment_field :profile_image %>
            <h4 class="my-3">Name</h4>
            <%= f.text_field :name, placeholder: "名前" %>
            <h4 class="my-3">Introduction</h4>
            <%= f.text_area :introduction, placeholder: "説明" %>
            <div class="my-4">
            <%= f.submit 'User Update', class: "button-s" %>
            </div>
            <div class="my-3">
              <%= link_to '退会する', user_confirm_path(current_user),class: "button-d" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>