<div class="haikei">
<div class="container memo blog  blog border-left border-right border-dark">
  <%= render 'users/info', user: @user %>
  <div class="row py-5 border-bottom border-dark">
    <div class="col offset-1">
      <% @user.blogs.each do |blog| %>
      <ul class="list-unstyled">
        <li><%= attachment_image_tag blog, :image, width: '90%', height: '90%' %></li>
        <li><h2><%= blog.title %></h2></li>
        <li><h4><%= blog.description %></h4></li>
        <li><h4><%= blog.created_at.strftime('%Y/%m/%d') %></h4></li>
      </ul>
      <% if @user == current_user %>
      <%= link_to "削除", blog_path(blog), method: :delete %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>