<header class="menu1">
  <%= render 'layouts/header' %>
</header>
<div class="scrolldown3"><span>Scroll</span></div>
<div class="slide">
<section id="box1">
  <div id="slider"></div>
  <%= image_tag('Logotv.png', class: "title-logo") %>
</section>
<section id="box2" class="box">
  <div class="abouttext">
    <h2 class="about-1h"><span>Keep a record of your memories of your travels.</span></h2>
    <h4 class="about-h">Go out into a new world that you don't know yet.</h4>
  　<h4 class="about-h">A photo taken casually can move your heart.</h4>
  　<h4 class="about-h">I hope it will be the beginning of someone's journey and encounter again.</h4>
  　<h2 class="about-h">Create <span>2021/06/30</span></h2>
  </div>
</section>
<section id="box3" class="box">
  <div cllass="box-item">
  <h1 class="box-title">GUEST LOGIN</h1>
  <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "gradient4" %>
  </div>
</section>
<section id="box4" class="box">
  <div cllass="box-item">
  <h1 class="box-title">LOGIN</h1></br>
  <%= link_to "ログイン", new_user_session_path, class: "gradient4" %>
  </div>
</section>
<section id="box5" class="box">
  <div cllass="box-item">
  <h1 class="box-title">SIGNUP</h1></br>
  <%= link_to "サインイン", new_user_registration_path, class: "gradient4" %>
  </div>
</section>
</div>
