<div class="container">
  <div class="row d-flex align-items-center">
    <div class="col">
      <a class="navbar-brand p-3" href="/"><%= image_tag('Logotra.jpg', :size => '180x70') %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="nav col d-flex justify-content-end">
    <% if user_signed_in? %>
      <li class="navmenu mr-2">
        <%= link_to "記憶", blogs_path, class: "fas fa-plane btn btn-outline-secondary btn-lg" %>
      </li>
      <li class="navmenu mr-2">
        <%= link_to "マイページ", user_path(current_user), class: "fas fa-portrait btn btn-outline-secondary btn-lg" %>
      </li>
      <li class="navmenu mr-2">
        <%= link_to "会員", users_path, class: "fas fa-paper-plane btn btn-outline-secondary btn-lg" %>
      </li>
      <li class="navmenu mr-2">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "fas fa-plane-departure btn btn-outline-secondary btn-lg" %>
      </li>
    <% else %>
      <li class="navmenu mr-2">
        <%= link_to "Top", root_path, class: "fas fa-vihara btn btn-outline-secondary btn-lg" %>
      </li>
      <li class="navmenu mr-2">
        <%= link_to "About", about_path, class: "fas fa-map-signs btn btn-outline-secondary btn-lg" %>
      </li>
      <li class="navmenu mr-2">
        <%= link_to "サインイン", new_user_registration_path, class: "fas fa-signature btn btn-outline-secondary btn-lg" %>
      </li>
      <li class="navmenu mr-2">
        <%= link_to "ログイン", new_user_session_path, class: "fas fa-plane-arrival btn btn-outline-secondary btn-lg" %>
      </li>
    <% end %>
    </div>
  </div>
</div>
