<div class="openbtn1"><span></span><span></span><span></span></div>
<nav id="g-nav">
  <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
    <ul class="gnav gnav-item">
    <% if user_signed_in? %>
      <li class="form1">
        <a>
          <div class="search">
          <%= form_with url: search_path, local: true, method: :get do |f| %>
            <%= f.text_field :word, class: "input bg-white", placeholder: "キーワード検索" %>
            <%= f.submit "Search", class: "button" %>
          <% end %>
          </div>
        </a>
      </li>
      <li class="nav-text"><a><h3><%= link_to "Memory", blogs_path %></h3></a></li>
      <li class="nav-text"><a><h3><%= link_to "MyPage", user_path(current_user) %></h3></a></li>
      <li class="nav-text"><a><h3><%= link_to "Users", users_path %></h3></a></li>
      <li class="nav-text"><a><h3><%= link_to "LogOut", destroy_user_session_path, method: :delete %></h3></a></li>
      <li class="nav-text"><a><h3><%= link_to "Ranking", monthly_rank_path %></h3></a></li>
    <% else %>
      <li class="nav-text"><a href="#box1"><h3>Top</h3></a></li>
      <li class="nav-text"><a href="#box2"><h3>About</h3></a></li>
      <li class="nav-text"><a href="#box3"><h3>Guest</h3></a></li>
      <li class="nav-text"><a href="#box4"><h3>LogIn</h3></a></li>
      <li class="nav-text"><a href="#box5"><h3>SignUp</h3></a></li>
    <% end %>
    </ul>
  </div>
</nav>
